torch==2.3.0
torchvision==0.18.0
geopandas
rasterio
tensorflow==2.19.0
earthengine-api==1.5.14
matplotlib
pillow
scikit-learn
tensorboard
tqdm
tifffile
timm
einops
opencv-python
imagecodecs
rioxarray
gdown
ptflops
google-cloud-storage
omegaconf
pyDataverse
pytest
yacs
wandb
hydra-core
wheel
